<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <!-- Подключение bootStrap   -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!--    Для отображения при запуске:-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
    <!--    Для просмотра без запуска сервера:-->
    <link rel="stylesheet" href="../static/css/login.css">

</head>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-light">
    <div class="container-fluid">
        <div class="row text-light">
                <span th:text="${name1}" class="font-weight-bold"></span>

                 with roles:

                <span th:text="${roles1}" id="headerRoles" class="font-weight-bold"></span>
            </div>
            <ul class="navbar-nav px-3 text-light">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
    </div>
</nav>

<div id="nav" class="col-3">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" data-toggle="pill" href="#AdminMainPage" id="leftNavAdmin" role="tab"
           aria-controls="AdminMainPage" aria-selected="false">Admin</a>
        <a class="nav-link" id="nav2" data-toggle="pill" href="#UserMainPage" role="tab"
           aria-controls="UserMainPage" aria-selected="true">User</a>
    </div>
</div>
<h1>All users </h1>

<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Пароль</th>
        <th>Роль</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.name}" />
        <td th:text="${user.password}" />
        <td th:text="${user.roles}" />
        <td>
            <a th:href="@{admin/edit/{id}(id=${user.id})}" class="btn btn-primary" role="button">Edit</a>
        </td>
        <td>
            <a th:href="@{admin/delete/{id}(id=${user.id})}" class="btn btn-danger" role="button">Delete</a>
        </td>
    </tr>
</table>


<h2>Добавить нового пользователя</h2>

<a>Добавить нового  </a>
<a href="/admin/add">пользователя </a><br><br><br>

<button type="button"><a href="/logout">LogOut</a></button>
</body>
</html>