<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditPage</title>
</head>
<body>

<h1>EDITUSER</h1>
<table>
    <form action="/admin/edit" method="post">
        <th:if test="${user != null}">
            <input type="hidden" name="id" th:value="${user.id}"/>
        </th:if>
        Name:<br>
        <input type="text" name="name" th:value="${user.name}"><br>
        password:<br>
        <input type="text" name="password"  th:value="${user.password}"><br>

        <div class="select" style="width:250px;" align="center">
            <label>
                <select name="roles" multiple size="2" style="width: 250px; ">
                    <option th:each="role : ${roles}"
                            th:value="${role.id}"
                            th:text="${role}">
                </select>
            </label>
        </div>
        <h4>Доступные роли(тест)</h4>
        <p th:text="${roles}"></p>

        <input type="submit" value="Update">
    </form>
</table>
</body>
</html>