<!DOCTYPE html>
<head xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <meta charset="UTF-8">
    <title>Admin</title>
    <!-- Подключение bootStrap   -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!--    Для отображения при запуске:-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <!--    Для просмотра без запуска сервера:-->
    <link rel="stylesheet" href="../static/css/login.css">


</head>
<body>
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="signIn">
                    <h1 align="center"> Please sign in</h1>
                    <h3> Sing with google </h3>
                    <a href="oauth2/authorization/google">google</a>
                    <form method="post" action="/login">
                        <input class="form-control w-200%" name="j_username" type="text" placeholder="Email address"
                               required>
                        <input class="form-control" name="j_password" type="password" placeholder="Password" required>
                        <button type="submit" class="btn btn-primary btn-block" id="submit">Sign in</button>
                    </form>
                    <a align="center" href="http://localhost:8081/registration">Регистрация хз зачем</a>
                </div>
            </div>

            <div class="col-lg-3"></div>
        </div>
    </div>
</header>





</div>
</body>
</html>